<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <script src="/static/brython.min.js"></script>
    <title>Добавление клиента</title>
</head>
<body onload="brython()">

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel-center">

            <form class="flex-center-column" action="/add-client/" method="post" id="form">

                {% csrf_token %}

                <div class="notice-container none" id="notice_container">

                    <span id="notice">Заглушка текст текст текст текст текст текст текст текст текст текст текст текст</span>

                </div>

                <div class="add-client-form flex-center-column">

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="organization_name">Название организации:</label>

                        </div>

                        <input type="text" name="organization_name" maxlength="100" required id="organization_name">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_last_name">Фамилия:</label>

                        </div>

                        <input type="text" name="last_name" maxlength="100" id="id_last_name">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_first_name">Имя:</label>

                        </div>

                        <input type="text" name="first_name" maxlength="100" id="id_first_name">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_patronymic">Отчество:</label>

                        </div>

                        <input type="text" name="patronymic" maxlength="100" id="id_patronymic">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="phone_number">Телефон:</label>

                        </div>

                        <input type="text" name="phone_number" maxlength="100" required id="phone_number">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_email">Email:</label>

                        </div>

                        <input type="text" name="email" maxlength="100" id="id_email">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="inn_input">ИНН:</label>

                        </div>

                        <input type="number" name="inn" required id="inn_input">

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_comment">Комментарий:</label>

                        </div>

                        <textarea name="comment" rows="5" id="id_comment"></textarea>

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label for="id_manager">Менеджер:</label>

                        </div>

                        <select name="manager" required id="id_manager">

                            {% if user.is_staff %}

                                {% for manager in managers %}

                                    <option value="{{ manager.pk }}">{{ manager.get_full_name }}</option>

                                {% endfor %}

                            {% else %}

                            <option value="{{ user.pk }}" selected>{{ user.get_full_name }}</option>

                            {% endif %}

                        </select>

                    </div>

                </div>

                <div class="add-manager-button" id="submit_button">СОХРАНИТЬ</div>

            </form>

        </div>

    </div>

    <input type="hidden" value="{{ inn_list }}" id="inn_list">

    <script type="text/python">

        from browser import document

        inn_list = document['inn_list'].value[1:-1].split(', ')
        submit_button = document['submit_button']
        form = document['form']
        form_is_submit = False

        # INPUTS

        organization_name = document['organization_name']
        phone_number = document['phone_number']
        inn_input = document['inn_input']

        # NOTICE

        notice = document['notice']
        notice_container = document['notice_container']

        # FAIL MESSAGE

        CHECK_UNCLUDE_FAIL_MESSAGE = 'Клиент с таким "ИНН" уже внесен в систему! Дубликаты запрещены!'

        CHECK_EMPTY_ORGANIZATION_NAME_FAIL_MESSAGE = 'Поле "Название организации" является обязательным к заполнению!'

        CHECK_EMPTY_PHONE_NUMBER_FAIL_MESSAGE = 'Поле "Телефон" является обязательным к заполнению!'

        CHECK_EMPTY_INN_FAIL_MESSAGE = 'Поле "ИНН" является обязательным к заполнению!'


        def lock_button() -> None:
            """ Функция блокирования повторной отправки формы. """
            global form_is_submit
            form_is_submit = True


        def submit_form(event) -> None:
            """ Функция отправки формы при условии удачной валидации. """
            if check_data():
                lock_button()
                form.submit()


        def check_data() -> bool:
            """ Функция валидации данных формы.
                Проверяет совпадение ИНН с уже внесенными в систему,
                отсутсвие пустых полей 'Название организации', 'Телефон', 'ИНН',
                факт повторной отправки формы. """
            if inn_input.value in inn_list:
                notice.innerHTML = CHECK_UNCLUDE_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return False

            elif not organization_name.value:
                notice.innerHTML = CHECK_EMPTY_ORGANIZATION_NAME_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return False

            elif not phone_number.value:
                notice.innerHTML = CHECK_EMPTY_PHONE_NUMBER_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return False

            elif not inn_input.value:
                notice.innerHTML = CHECK_EMPTY_INN_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return False

            elif form_is_submit:
                return False

            else:
                return True

        
        submit_button.bind('click', submit_form)
    
    </script>

</body>

</html>