<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <script src="/static/brython.min.js"></script>
    <title>Добавление услуги</title>
</head>
<body onload="brython()">

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel-center">

            <form class="flex-center-column" action="/add-service-for-client/" id="form" method="post">

                {% csrf_token %}

                <div class="add-client-form flex-center-column">
                        
                    <!-- CASH MACHINE -->

                    <div class="notice-container none" id="notice_container">

                        <span class="" id="notice">Заглушка текст текст текст текст текст текст текст текст текст текст текст текст</span>

                    </div>

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>Кассовый аппарат:</label>

                        </div>

                        <select name="cash_machine_pk" id="cash_machine_pk">

                            <option value="" selected>НЕТ</option>

                            {% for kkt in kkt_list %}

                                <option value="{{ kkt.pk }}">{{ kkt.model }}</option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- CASHMACHINE FACTORY NUMBER -->

                    <div class="add-client-form-div mb-25">

                        <div class="add-client-label-div">

                            <label>Заводской номер:</label>

                        </div>

                        <div class="datepicker-container">

                            <input type="text" name="factory_number">

                        </div>

                    </div>

                    <!-- ECP -->

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>ЭЦП:</label>

                        </div>

                        <select name="ecp_pk" id="ecp_pk">

                            <option value="" selected>НЕТ</option>

                            {% for ecp in ecp_list %}

                                <option value="{{ ecp.pk }}">{{ ecp.name }}</option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- ECP CALENDAR -->

                    <div class="add-client-form-div mb-25">

                        <div class="add-client-label-div">

                            <label>Дата выпуска ЭЦП:</label>

                        </div>

                        <div class="datepicker-container">

                            <input type="text" name="add_ecp_date" id="add_ecp_date">

                        </div>

                    </div>

                    <!-- OFD -->

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>ОФД:</label>

                        </div>

                        <select name="ofd_pk" id="ofd_pk">

                            <option value="" selected>НЕТ</option>

                            {% for ofd in ofd_list %}

                                <option value="{{ ofd.pk }}">{{ ofd.model }}</option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- OFD CALENDAR -->

                    <div class="add-client-form-div mb-25">

                        <div class="add-client-label-div">

                            <label>Дата регистрации ОФД:</label>

                        </div>

                        <div class="datepicker-container">

                            <input type="text" name="add_ofd_date" id="add_ofd_date">

                        </div>

                    </div>

                    <!-- FN -->

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>ФН:</label>

                        </div>

                        <select name="fn_pk" id="fn_pk">

                            <option value="" selected>НЕТ</option>

                            {% for fn in fn_list %}

                                <option value="{{ fn.pk }}">{{ fn.name }}</option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- FN CALENDAR -->

                    <div class="add-client-form-div mb-25">

                        <div class="add-client-label-div">

                            <label>Дата регистрации ФН:</label>

                        </div>

                        <div class="datepicker-container">

                            <input type="text" name="add_fn_date" id="add_fn_date">

                        </div>

                    </div>

                    <!-- TO -->

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>Договор ТО:</label>

                        </div>

                        <select name="to_pk" id="to_pk">

                            <option value="" selected>НЕТ</option>

                            {% for to in to_list %}

                                <option value="{{ to.pk }}">{{ to.name }}</option>

                            {% endfor %}

                        </select>

                    </div>

                    <!-- TO CALENDAR -->

                    <div class="add-client-form-div">

                        <div class="add-client-label-div">

                            <label>Дата оформления ТО:</label>

                        </div>

                        <div class="datepicker-container">

                            <input type="text" name="add_to_date" id="add_to_date">

                        </div>

                    </div>

                    <!-- END FORM -->

                    <input type="hidden" name="client_pk" value="{{ client_pk }}">

                </div>

                <div class="add-manager-button" id="submit_button">ДОБАВИТЬ</div>

            </form>

        </div>

    </div>

    <script>
                        
        $(function(){
            $("#add_ecp_date").datepicker({
                dateFormat: 'yy-mm-dd',
                showOn: "button",
                buttonImage: "{% static 'accounting_system/datepicker.png' %}",
                buttonImageOnly: true,
                buttonText: "Выбрать дату"
            });
        });

        $(function(){
            $("#add_ofd_date").datepicker({
                dateFormat: 'yy-mm-dd',
                showOn: "button",
                buttonImage: "{% static 'accounting_system/datepicker.png' %}",
                buttonImageOnly: true,
                buttonText: "Выбрать дату"
            });
        });

        $(function(){
            $("#add_fn_date").datepicker({
                dateFormat: 'yy-mm-dd',
                showOn: "button",
                buttonImage: "{% static 'accounting_system/datepicker.png' %}",
                buttonImageOnly: true,
                buttonText: "Выбрать дату"
            });
        });

        $(function(){
            $("#add_to_date").datepicker({
                dateFormat: 'yy-mm-dd',
                showOn: "button",
                buttonImage: "{% static 'accounting_system/datepicker.png' %}",
                buttonImageOnly: true,
                buttonText: "Выбрать дату"
            });
        });

    </script>

    <script type="text/python">
    
        from browser import document

        # SELECTBOX

        cash_machine_pk = document['cash_machine_pk']
        ecp_pk = document['ecp_pk']
        ofd_pk = document['ofd_pk']
        fn_pk = document['fn_pk']
        to_pk = document['to_pk']

        # DATE FIELD

        add_ecp_date = document['add_ecp_date']
        add_ofd_date = document['add_ofd_date']
        add_fn_date = document['add_fn_date']
        add_to_date = document['add_to_date']

        # NOTICE

        notice = document['notice']
        notice_container = document['notice_container']

        # FORM AND BUTTON

        form = document['form']
        button = document['submit_button']

        # FAIL MESSAGE

        CHECK_DATES_FAIL_MESSAGE = 'Вы забыли указать дату для одного из выбранных пунктов, так делать нельзя, аяяй!'

        CHECK_EMPTY_FORM_FAIL_MESSAGE = 'Нельзя отправить форму не выбрав услугу. Какой вообще в этом смысл?'

        CHECK_SERVICES_FAIL_MESSAGE = 'Нельзя отправить форму указав дату без услуги.'


        def check_dates() -> bool:
            """ Проверка наличия даты при условии выбора услуги """
            result = True

            if (ecp_pk.selectedIndex and not add_ecp_date.value) or (ofd_pk.selectedIndex and not add_ofd_date.value):
                result = False
            elif (fn_pk.selectedIndex and not add_fn_date.value) or (fn_pk.selectedIndex and not add_fn_date.value):
                result = False
            return result


        def check_empty_form() -> bool:
            """ Проверка на пустую форму """
            return any([cash_machine_pk.selectedIndex, ecp_pk.selectedIndex, ofd_pk.selectedIndex, 
                        fn_pk.selectedIndex, to_pk.selectedIndex])

        
        def check_services() -> bool:
            """ Проверка наличия услуги при условии выбора даты """
            result = True

            if (add_ecp_date.value and not ecp_pk.selectedIndex) or (add_ofd_date.value and not ofd_pk.selectedIndex):
                result = False
            elif (add_fn_date.value and not fn_pk.selectedIndex) or (add_to_date.value and not to_pk.selectedIndex):
                result = False
            return result


        def validate_form_data(event) -> None:
            """ Запускается при событие click по имитации кнопки  """
            if not check_dates():
                notice.innerHTML = CHECK_DATES_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return
            if not check_empty_form():
                notice.innerHTML = CHECK_EMPTY_FORM_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return
            if not check_services():
                notice.innerHTML = CHECK_SERVICES_FAIL_MESSAGE
                notice_container.classList.remove('none')
                return
            form.submit()

        
        button.bind('click', validate_form_data)

    </script>

</body>

</html>