<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>ОФД</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <a class="add-manager-link" href="/add-ofd/">ДОБАВИТЬ ОФД</a>

            </div>

            {% for ofd in ofd_list %}

            <div class="service-title-container">

                <h2>{{ ofd.model }}</h2>

                <form class="h-100" action="/delete-ofd/" method="post">

                    {% csrf_token %}

                    <button class="manager-delete-button" name="service_pk" value="{{ ofd.pk }}">удалить</button>

                </form>

            </div>

        {% endfor %}

        </div>

    </div>

</body>

</html>