<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Онлайн охрана</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel_client.html" %}

        <div class="right-panel">

            <div class="right-panel-header">

                <form action="/security_sc/" method="post">

                    {% csrf_token %}

                    <button class="add-manager-button" name="client_pk" value="{{ user.pk }}">Подключить услугу</button>

                </form>

            </div>

                <span class="client-organization-name">{{ security_name }}</span>

            <div class="mx-20 mb-5">

                <span class="fs-18">Описание: {{ security_description }}</span>

            </div>

            <div class="mx-20 mb-5">

                <span class="fs-18">Стоимость подписки: {{ security_cost }} $</span>

            </div>

        </div>

    </div>

</body>

</html>