<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    {% include "accounting_system/links.html" %}
    <title>Удаление сотрудника</title>
</head>
<body>

    {% include "accounting_system/header.html" %}

    <div class="wrap">

        {% include "accounting_system/left_panel.html" %}

        <div class="right-panel-center">

            <form action="/delete-manager/" method="post">

                {% csrf_token %}

                <div class="delete-manager-form flex-center-column">

                    <h1>УДАЛЕНИЕ СОТРУДНИКА</h1>

                    <h2>Клиенты за которыми закреплен данный менеджер будут пемещены в штат клиентов администратора, вы уверены, что хотите продолжить?</h2>

                    <div class="delete-manager-buttons-container">

                        <a href="/staff/" class="delete-manager-link">НЕТ, ОТМЕНИТЬ</a>

                        <button class="delete-button-delete_manager" name="manager_pk_for_delete" value="{{ manager.pk }}">ДА, УДАЛИТЬ СОТРУДНИКА</button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</body>

</html>